
/* src/styles/not-found.css */

.fullscreen-nf-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff !important; /* Solid white background */
  color: #24292f;
  font-family: 'Arvo', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 9999;
  overflow: auto;
}

.content-nf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 550px;
}

.text-404-nf {
  font-size: 10rem; 
  font-weight: 700;
  color: #333;
  margin-bottom: 0px;
  line-height: 1;
  margin-top: -20px;
}

.illustration-container-nf {
  margin-top: -20px; 
  margin-bottom: 25px;
  line-height: 0;
}

.illustration-image-nf {
  max-width: 100%;
  height: auto;
  display: block;
}

.heading-nf {
  font-size: 2rem; 
  font-weight: 600;
  color: #333333; 
  margin-top: 0; 
  margin-bottom: 15px;
}

.subtext-nf {
  font-size: 1.125rem;
  color: #555555;
  margin-bottom: 30px;
}

/* Removed .button-nf and .button-nf:hover as ShadCN Button will be used */
